<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850017519173-7f0tos6vdatf4lma45cavcuv7s0n15il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850017519173-7f0tos6vdatf4lma45cavcuv7s0n15il</string>
	<key>API_KEY</key>
	<string>AIzaSyCEoFeBjU3uKyYG47ryczUp4k6UHBg0Zo4</string>
	<key>GCM_SENDER_ID</key>
	<string>850017519173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-eff9e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-eff9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850017519173:ios:0ee1260d1078df8ed1052c</string>
</dict>
</plist>